h1 {
  margin-bottom: 0;
}
nav{
  display: flex;
  margin: -8px;
}
nav img{
  width: 70px;
  height: 72px;
}

nav button span{
  font-size: 16.5px;
  font-weight: bold;
}
@media(max-width: 480px){
  nav button span{
    font-size: 12px;
  }
}
nav button{
  margin:0;
  height: 72px;
  padding: 1.9% 1.4rem;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  width: 33%;
  background-color: #829cd0;
  color: white;
  font-weight: bold;
  border: none;
}
nav button:hover{
  color: #6d6d6d;
  background-color: #829cd0cc;
}
.create{
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
  margin:0;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #829cd0;
  color: white;
  font-weight: bold;
  border: none;
}
.create:hover{
  color: white;
  background-color: rgba(62,189,198,0.7);
}
